VITE_SUPABASE_URL=https://kvjgzeokdulunjgvtqrl.supabase.co/
VITE_SUPABASE_ANON_KEY=sbpublishable-1THPJg-36gjnXRUrjuv2w_zM1ieWtQ
VITE_SUPABASE_PUBLISHABLE_KEY=sbpublishable-1THPJg-36gjnXRUrjuv2w_zM1ieWtQ