VITE_SUPABASE_URL=https://kvjgzeokdulunjgvtqrl.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2amd6ZW9rZHVsdW5qZ3Z0cXJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0ODUxOTQsImV4cCI6MjA5NDA2MTE5NH0.9eLYn_x15UTVFF5R9qAeIGlMfXmdViZU7M7jiAQeu74